@use 'sass:map';
@import '../bootstrap/scss/bootstrap.scss';

@include color-mode(dark) {
  $dark-theme-colors: (
    'primary': #141314,
    'secondary': #1c1b1d,
    'success': #cbc4cc,
    'danger': #fcbad3,
    'warning': #9f86ff,
    'info': #553f5d,
  );

  $primary: map.get($dark-theme-colors, 'primary');
  $secondary: map.get($dark-theme-colors, 'secondary');
  $success: map.get($dark-theme-colors, 'success');
  $info: map.get($dark-theme-colors, 'info');
  $warning: map.get($dark-theme-colors, 'warning');
  $danger: map.get($dark-theme-colors, 'danger');

  $theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'danger': $danger,
    'warning': $warning,
    'info': $info,
  );

  $theme-colors-rgb: (
    'primary': to-rgb($primary),
    'secondary': to-rgb($secondary),
    'success': to-rgb($success),
    'danger': to-rgb($danger),
    'warning': to-rgb($warning),
    'info': to-rgb($info),
  );

  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }
}
