$nav-link-font-size: 0.7rem;
$list-group-bg: none;
$list-group-border-color: none;
$link-decoration: none;

@mixin link-active-custom {
  font-weight: bold;
  font-variation-settings: 'FILL' 1, 'wght' 600, 'opsz' 24;
}

@mixin dropdown-right {
  top: 0;
  left: 100%;
}
@import './light-theme-colors.scss';
@import '../bootstrap/scss/bootstrap.scss';
@import './dark-theme-colors.scss';

$custom-marker: var(--custom-marker);
$custom-nav-hover: var(--custom-nav-hover);

/* $theme: var(--theme);

$marker: #dcdaf5;
$nav-hover: #e5dee2;

$dark-marker: #45455a;
$dark-nav-hover: #2f2c2f;

$custom-marker: if($theme == 'light', $marker, $dark-marker);
$custom-nav-hover: if($theme == 'light', $nav-hover, $dark-nav-hover); */

.navbar-nav .nav-link.active span,
.nav-link.active:hover span {
  background-color: $custom-marker;
}

.navbar-nav .nav-link.active {
  @include link-active-custom();
}

.navbar-nav .nav-link:not(.active):hover span,
.navbar-nav .nav-link:not(.active) span:hover,
.dropdown-item span:hover {
  background-color: $custom-nav-hover;
}

nav > .btn {
  position: relative;
  border: 1px solid gray;
}

nav .btn:hover {
  font-weight: bold;
  font-variation-settings: 'FILL' 1, 'wght' 600, 'opsz' 24;
  color: $gray-700;
  background-color: $custom-nav-hover;
}

#logo {
  stroke: $black;
}

.nav-item > .dropdown-toggle::after {
  display: none;
}

.nav-item:hover > .dropdown-menu {
  position: absolute;
  display: block;
  @include dropdown-right();
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary span::after {
  content: '►';
}
details[open] summary span:after {
  transform: rotate(90deg);
}

.dropdown-item {
  font-size: $nav-link-font-size;
  font-weight: $nav-link-font-weight;
}

h1.fs-0 {
  font-size: $h0-font-size;
}

header .btn:hover {
  background-color: lighten($warning, 3%);
}

.card:hover {
  background-color: $custom-marker !important;
  cursor: pointer;
}

.card:focus-visible {
  outline-color: black !important;
  border-radius: 15% !important;
  overflow: hidden;
}

.list-group-item:not(.text-success) a:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
  color: lighten($warning, 50%) !important;
}
